<main class="main-login">
        <div class="left-login">
             <h1>City Car Rental</h1>
              <img src="https://i.postimg.cc/NfhMJPDG/By-my-car-cuate.png" class="left-login-img">
         </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Login</h1>
                <div class="textfield">
                    <label for="user">User</label>
                    <!-- Add formControl directive to the input element -->
                    <!--<input type="text" [formControl]="user" name="user" placeholder="User">-->

                    <!-- Replace the above input element with the following FormsModule -->
                    <input type="text" [(ngModel)]="apiLoginObj.EmailId" name="user" placeholder="User">
                </div>

                <div class="textfield">
                    <label for="password">Password</label>
                    <!-- Add formControl directive to the input element -->
                    <!--<input type="password"  [formControl]="password" name="password" placeholder="Password">-->
                    
                    <!-- Replace the above input element with the following FormsModule -->
                    <input type="password"  [(ngModel)]="apiLoginObj.Password" name="password" placeholder="Password">
               
                </div>

                <button class="btn-login" (click)="onLogin()">Login</button>
            </div>
        </div>
    </main>